body {
  font-family: helvetica, sans-serif;
}
div {
	height: 200px;
	background-size: cover;
}
.first{
  background: url("http://dash.ga.co/assets/firstcourse.jpg");
  margin: 0 auto;
  max-width: 600px;
}
.second{
  background: url("http://dash.ga.co/assets/secondcourse.jpg");
  margin:0 auto;
  max-width:600px;
}
.dessert{
  background: url("http://dash.ga.co/assets/dessertcourse.jpg");
  margin:0 auto;
  max-width:600px;
}
p {
	color: #ffffff;
	background-color: #000000;
}